@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Abril Fatface", serif;
  background: #571e1e;
}
#subjects {
  border: #0a0a0a 1px solid;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  margin: 0.7vw;
  padding : 16px;
  cursor: pointer;
  text-align: center;
  
}
#subjects:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 6px rgba(255, 254, 254, 0.432);
}
#launchcard{
  border: #444444 1px solid;
  box-shadow: 0 4px 6px rgb(56, 2, 2);
  border-radius: 10px;
  padding: 20px;
  background-color: #912e2e;
  color: #ffe0e0;
}
#launchcard:hover {
  background-color: #bd6363;
  transform: translateY(-4px) translateX(-2px);
}
.inner-card{
  border-radius: 30px;
}